section .cart{
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  height: auto;
  overflow-y:hidden ;
}

.amount span{
  color: crimson;
  padding: 0 20px;
}
.amount .count{
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
section .cart .delete{
  position: absolute;
  /* top:0; */
  right: 5px;
  color: crimson;
  cursor: pointer;
  font-weight: 900;
}
.total{
  width: 93%;
  height: 50px;
  display: flex;
  margin-top: 100px;
  margin-right: 200px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.boton{
  margin-right: 20px;
}
.total a{
  text-decoration: none;
  background: #333;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 25px;
}
.total h3{
  margin-right: 50px;
  color: crimson;
}
@media screen and (max-width: 1024px) {
  .total{
    width: 100%;
  }
}