.footerContainer{
  height: 120px;
  background-color: #bededb;
  color: #fff;
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position:relative;
}
.footer{
  display: flex;
  align-items: center;
  width: 100%;
}

.imageContainer{
  display: inline-block;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 33%;
}

.LogoTlali{
  border-radius: 50%;
}

.text{
  margin: 0;
  margin-right: 20%;
  text-align: center;
  font-weight: bold;
  color: #84a7a3;
}

.iconsContainer{
  color: #fff;
  text-decoration: none;
}

.icons{
  height: 40px;
  width: 40px;
  color: #84a7a3;
}

.ins{
  margin-right: 15px;
}

@media screen and (max-width: 1024px) {
  .imageContainer{
    margin-right: 22%;
  }
}

@media screen and (max-width: 768px) {
  .imageContainer{
    width: 80px;
    height: 70px;
    margin-right: 20%;
  }
  .iconsContainer{
    color: #fff;
    text-decoration: none;
    display: flex;
  }
  .LogoTlali{
    object-fit: fill;
  }
  .icons{
    height: 30px;
    width: 30px;
    color: #fff;
  }
}
@media screen and (max-width: 425px) {
  .imageContainer{
    width: 600px;
    height: 90px;
    margin-right: 16%;
  }
  .iconsContainer{
    color: #fff;
    text-decoration: none;
    display: flex;
  }
  .text{
    font-size: smaller;
  }
  .icons{
    height: 30px;
    width: 30px;
    color: #fff;
  }
}
@media screen and (max-width: 375px) {
  
  .imageContainer{
    width: 150px;
    height: 70px;
    margin-right: 10%;
  }
  .text {
    margin-right: 10%;
  }
  .icons{
    height: 20px;
    width: 20px;
    color: #fff;
  }
}


